// Main
$mainFontFamily            : Arial, Helvetica, sans-serif;
$mainFontColor             : #161725;
$mainFontSize              : 16px;
$mainBgColor               : #fff;

// GridBreakPoints
$maxWidth                  : 1440px;
$desktopWidth              : 1200px;
$smDesktopWidth            : 992px;
$tabletWidth               : 768px;
$phoneWidth                : 480px;
$minWidth                  : 375px;


$sideBarWidth              : 368px;
$smSideBarWidth            : 318px;

$shrinkSideBarWidth        : 139px;

$exampleDescriptionBG      : #efefef;

$badgeDericated            : #AD1820;
$badgeLangScss             : #bf4080;
$badgeLangLess             : #1d365d;
$badgeSince                : #E6E7E7;
$badgeBtnSinceHover        : #CDCECF;