{
    "extends": [
        "oclif",
        "oclif-typescript",
        "prettier"
    ],
    "env": {
        "node": true
    },
    "rules": {
        "unicorn/filename-case": [
            "error",
            {
                "case": "camelCase"
            }
        ]
    },
    "overrides": [
        {
            "files": "*.ts",
            "rules": {
                "@typescript-eslint/no-empty-function": "off"
            }
        }
    ]
}