*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/tmp
/yarn.lock
node_modules
oclif.manifest.json
/.vscode
/web_example/**/_gen
/web/**/_gen
/stylesdoc.log
/output.json
/web/.hugo_build.lock
/web/public
/example/sassdoc
/web/themes/itentika/data/*.json
