:root {
  --SearchBGColor                              : #fff;
  --SearchIconColor                            : #161725;
  --SearchTextColor                            : #161725;

  --SideBarBG                                  : #F5F5F5;

  --LogoBG                                     : #161725;
  --LogoLettersColor                           : #fff;
  --MenuBordersColor                           : rgba(49, 51, 72, .16);

  --MenuItemTextColor                          : #000;
  --SubMenuItemTextColor                       : #161725;
  --SubSubMenuItemTextColor                    : #535456;

  --ActionsTextColor                           : #161725;

  --ShevronClosedColor                         : #161725;
  --ShevronOpenedColor                         : #467AFF;

  --PageHeadingColor                           : #161725;

  --SnippetBG                                  : #F0F4FF;
  --SnippetBorderColor                         : #467AFF;

  --MobileBrandArrowColor                      : #467AFF;

  --SidebarBrandArrowColor                     : #D1DEFF;
  --SidebarBottomArrowColor                    : #000;

  --SidebarBtnBGColor                          : #fff;

  --LinkColor                                  : #467AFF;
}